<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bienvenidos a CitasApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>¡Bienvenido a CitasApp!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Conéctate y encuentra citas en tu área. Únete a nosotros para descubrir nuevas conexiones.</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" color="primary" routerLink="/login">Iniciar Sesión</ion-button>
  <ion-button expand="full" color="secondary" routerLink="/register">Registrarse</ion-button>
</ion-content>
