<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Bienvenidos a CitasApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <div class="welcome-container">
    <img src="assets/banner.png" alt="CitasApp" class="welcome-image" />
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>¡Bienvenido a CitasApp!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Conéctate y encuentra citas en tu área. Únete a nosotros para descubrir nuevas conexiones y amistades.</p>
      </ion-card-content>
    </ion-card>
    <ion-button expand="block" color="secondary" routerLink="/login" class="action-button">
      Iniciar Sesión
    </ion-button>
    <ion-button expand="block" color="secondary" routerLink="/signup" class="action-button">
      Registrarse
    </ion-button>
  </div>
</ion-content>
