<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Lista de notificaciones estáticas -->
  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Nuevo Mensaje</h2>
        <p>Has recibido un nuevo mensaje.</p>
      </ion-label>
      <ion-note slot="end">hace 5 minutos</ion-note>
    </ion-item>
    
    <ion-item>
      <ion-label>
        <h2>Actualización Disponible</h2>
        <p>Una nueva actualización está lista para instalar.</p>
      </ion-label>
      <ion-note slot="end">hace 1 hora</ion-note>
    </ion-item>
    
    <ion-item>
      <ion-label>
        <h2>Recordatorio</h2>
        <p>Tu cita es mañana.</p>
      </ion-label>
      <ion-note slot="end">hace 2 días</ion-note>
    </ion-item>
  </ion-list>
</ion-content>