<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <!-- Imagen de Perfil -->
  <div class="profile-container" style="text-align: center; margin-top: 20px;">
    <img *ngIf="user.fotoUrl" [src]="user.fotoUrl" alt="Foto de Perfil" style="border-radius: 50%; width: 120px; height: 120px;">
    <div *ngIf="!user.fotoUrl" style="border-radius: 50%; width: 120px; height: 120px; background-color: gray; display: flex; align-items: center; justify-content: center; color: white; font-size: 30px;">
      <span>{{ user.nombre | slice:0:1 }}</span> <!-- First letter of name -->
    </div>
  </div>

  <!-- Información del Usuario -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ user.nombre }}</ion-card-title>
      <ion-card-subtitle>{{ user.descripcion }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <!-- Citas Registradas -->
  <ion-list>
    <ion-item *ngFor="let cita of citas">
      <ion-label>
        <h2>{{ cita.titulo }}</h2>
        <p>{{ cita.fecha | date }}</p>
        <p>{{ cita.descripcion }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>