.input {
    font-size: 1rem; /* Ajuste del tamaño de fuente */
}

ion-item {
    --background: #f1f1f1;
    border-radius: 10px;
    margin-bottom: 16px;
}

.header {
    margin-top: 60px;
    margin-bottom: 50px;
    text-align: center;
}

.header .subTitle {
    color: gray;
    font-size: 0.9rem;
    margin-top: 5px;
}

.header .title {
    font-size: 2rem;
}

.signupLink {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}

.signupLink p {
    font-size: 0.9rem;
}

.signupLink a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.forgotPassword {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.forgotPassword a {
    font-weight: 400;
    font-size: 0.8rem;
    text-decoration: none;
    color: blue;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}