// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-background-color: #E8E9E0; /* Cambia este valor por el color deseado */
    --ion-color-focus: #6D7E5F;
    --ion-color-secondary: #6D7E5F; /* Azul */
    --ion-color-success: #0D120E; /* Verde */
    --ion-color-warning: #0D120E; /* Amarillo */
    }