<ion-content [fullscreen]="true">
  <ion-header translucent>
    <ion-toolbar color="secondary">
      <ion-title class="title">Bienvenido</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="header">
    <p class="subTitle">Inicia sesión para ingresar a tu cuenta</p>
  </div>

  <form (ngSubmit)="login()">
    <div class="ion-padding">
      <!-- Campo de correo electrónico -->
      <ion-item>
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input [(ngModel)]="email" name="email" placeholder="Correo electrónico" type="email" required></ion-input>
      </ion-item>

      <!-- Campo de contraseña -->
      <ion-item>
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input [(ngModel)]="password" name="password" placeholder="Contraseña" type="password" required></ion-input>
      </ion-item>

      <!-- Botón de inicio de sesión -->
      <div class="ion-padding-top">
        <ion-button expand="block" type="submit" color="secondary">
          Iniciar sesión
        </ion-button>
      </div>

      <!-- Botón de inicio de sesión con Google -->
      <div class="ion-padding-top">
        <ion-button expand="block" color="danger" (click)="loginWithGoogle()">
          Iniciar sesión con Google
        </ion-button>
      </div>

      <!-- Pregunta para recuperar la contraseña -->
      <div class="forgotpassword">
        <a [routerLink]="['/resetPassword']" style="color: blue">Recuperar Contraseña</a>
      </div>

      <!-- Pregunta para registrarse como nuevo usuario -->
      <div class="signupLink">
        <p>¿Eres nuevo usuario? <a style="color: blue" [routerLink]="['/signup']">Regístrate Gratis</a></p>
      </div>
    </div>
  </form>
</ion-content>