/* Estilos para la barra de herramientas */
ion-toolbar {
  --background: #45553D; /* Color verde oscuro */
  --color: white; /* Color del texto */
  padding-left: 16px;
  padding-right: 16px;
}

/* Título */
ion-title {
  font-family: 'Arial', sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Botón de perfil con icono */
.profile-button {
  --border-radius: 50%;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 12px;
  position: relative;
}

/* Icono del botón de perfil */
.profile-icon {
  font-size: 1.4rem;
}

/* Burbuja de notificación */
.notification-badge {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

/* Estilo del contenido */
.home-content {
  --background: #E8E9E0; /* Fondo gris claro */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Sección de bienvenida */
.welcome-section {
  text-align: center;
  margin-bottom: 20px;
}

.welcome-section h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.welcome-section p {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 20px;
}

/* Imagen de bienvenida */
.welcome-image {
  width: 400px; /* Imagen aún más grande */
  height: 400px; /* Debe ser igual al ancho para mantener la forma circular */
  object-fit: cover; /* Asegura que la imagen se ajuste bien dentro del círculo */
  border-radius: 50%; /* Hace que la imagen sea circular */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}