<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Agendar Cita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
    <!-- Campo de Nombre -->
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="name" type="text" required [value]="nombre"></ion-input>
    </ion-item>

    <!-- Desplegable de Áreas Médicas -->
    <ion-item>
      <ion-label>Área Médica</ion-label>
      <ion-select formControlName="medicalArea" placeholder="Selecciona un área">
        <ion-select-option *ngFor="let area of medicalAreas" [value]="area">
          {{ area }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Selector de Fecha y Hora -->
    <ion-item>
      <ion-label>Fecha y Hora</ion-label>
      <ion-datetime formControlName="appointmentDateTime" display-format="DD/MM/YYYY HH:mm" placeholder="Selecciona fecha y hora" [value]="fechayhora
"></ion-datetime>
    </ion-item>

    <!-- Botón de Enviar -->
    <ion-button expand="full" type="submit" [disabled]="!appointmentForm.valid" color="secondary">
      Agendar
    </ion-button>
  </form>
</ion-content>
